{% extends 'blog/base.html' %}

{% block content %}
    <form method="POST" class="post-form">
    	{% csrf_token %}
    <div class="submit-btn">
{{ form.category }}
</div>

    	<div align=center>
        	<textarea name="title" style="border: none;font-weight: 900;height: 40px;" cols="90" placeholder="Enter your Title here">{{ form.title.value|default_if_none:"" }}</textarea>
            <hr>
    	</div>
        <div class="justified">
        	<textarea name="text" style="border: none" rows="20" cols="90" placeholder="Tell your Story...">{{ form.category.value|default_if_none:"" }}</textarea>
    	</div>
    	<div class="submit-btn">
        <button class="btn btn-success" type="submit">Save</button>
    	</div>
    </form>
{% endblock %}
