{% extends 'blog/base.html' %}

{% block content %}
    <div class="postMain">
        <div class="post">
            {% if post.published_date %}
                <div class="date"><br>
                    <div align="right"><b> By {{ post.author.first_name }}</b> on {{ post.published_date }}</div>

                </div>
            {% endif %}
            {% if user.is_authenticated %}
                {% if edit %}
                    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="fa fa-pencil"></span></a><br><br>
                {% endif %}
            {% endif %}
            <h1>{{ post.title }}</h1>
            <br>
                    <hr>

            <p>{{ post.text|linebreaksbr }}</p>
        </div>
            <br><br>

        <div class="widget-box pad0">
   <div class="widget-header" >

    <h5 class="mrgl20 ng-scope" translate="">Comments</h5>
    <hr>
 <div class="widget-body">
  <div class="well-lg padtop0">
    <form method="POST" action="comment/">{% csrf_token %}
        <input type="hidden" name="author" value="{{ user.first_name }}">
<textarea name="text" style="border: none; " rows="2" cols="70" placeholder="Add you comment..."></textarea>
          </div>
          <div class="submit-btn">
                  <button  class="btn btn-success" type="submit">Comment</button></div>
</form>
    </div>

</div>
</div>
{% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p style="font-size: 17px">{{ comment.text }}</p>
    </div>
    {% endif %}
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
    </div>

{% endblock %}
