body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a.btn.btn-primary.btn-lg.active.gl {
    background-color: red;
    border-color: red;
}

.singupForm {
    position: relative;
    padding-top: 12%;
    margin-left: 38%;
    margin-right: auto;
    width: 29%;
}

.social {
    margin-left: 46%;
    /* display: flex; */
}

.login_form_top {
    margin-left: 47%;
    margin-top: 1%;
}

h2.title {
    left: 35%;
    position: relative;
    font-family: arial;
}

/*page header*/
.page-header a {
    color: black;
}

.page-header h1 {
    text-align: center;
}
.loginBanner {
    position: relative;
    top: -29%;
}

/* Post style */
.postMain {
    width: 1000;
    margin-left: auto;
    margin-right: auto;
}

a.top-menu {
    left: 81%;
    top: -32px;
    position: relative;
}

.post a {
        color: black;
}
.post p {
        font-size: large;
}
/* Drop down */
.dropbtn {
    background-color: #3498DB;
    color: white;
    /*padding: 16px;
    font-size: 16px;*/
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
    left: 86%;
    top: -35px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}



