{% extends 'landingpage.html' %}
{% load i18n static %}

{% block extrastyle %}
<!--<link rel="stylesheet" type="text/css" href="{% block adminstyle %}{% static "css/login.css" %}{% endblock %}" />-->
{% endblock %}

{% block content %}
<div class="py3 px3 py10-sm signUp_bg">
    <div id="login_form" class="login_form">
        <div class="login_form_inner">
            <h2 class="title">Log in</h2>
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
            {% endfor %}
            {% endif %}
            <div class="mb3">
                <form action="{{ app_path }}" method="post" id="inner_login" class="inner_login">{% csrf_token %}
                    <fieldset class="mb2">
                        <ol>
                            <li class="mb2">
                                {{ form.username.errors }}
                                {{ form.username }} 
                            </li>
                            <li class="mb2 relative">
                                <div class="relative">
                                    {{ form.password.errors }}
                                    {{ form.password }}
                                </div>
                            </li>
                            <li class="clearfix">
                                <input type="submit" name="commit" value="Log me in!" class="login_btn">
                            </li>
                        </ol>
                    </fieldset>
                </form>
            </div>
            <div class="text-strikethru">
                <div class="line"></div>
                <div class="text">or</div>
            </div>
            <div class="mb2 flex">
                <a href="{% url 'social:begin' 'facebook' %}?next={{ next }}" class="facebook_login_btn">
                    Facebook
                </a>
                <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ next }}" class="gmail_login_btn">
                    Google
                </a>
            </div>
            <p class="center grey-dark fs12">
                We'll never post anything on Facebook<br>without your permission.
            </p>
        </div>
        <div class="login_form_footer">
            <a class="bold js-switch-to-signup" href="/signup">Sign Up!</a>
        </div>
    </div>

</div>
{% endblock %}