{% extends 'blog/base.html' %}

{% block content %}
    <container class="signup_login">
        <div class="singupForm">
            <h2 class="title">Sign Up</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    {{ form.first_name.errors }}
                    <label for="firstname">Fist name</label>
                    <input type="text" name="first_name" class="form-control" id="firstname" placeholder="firstname">
                </div>
                <div class="form-group">
                    {{ form.last_name.errors }}
                    <label for="lastname">Last name</label>
                    <input type="text" name="last_name" class="form-control" id="lastname" placeholder="lastname">
                </div>
                <div class="form-group">
                    {{ form.password1.errors }}
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password1" class="form-control" id="exampleInputPassword1" placeholder="password">
                </div>
                <div class="form-group">
                    {{ form.mobile_no.errors }}
                    <label for="mobileNo">Mobile number</label>
                    <input type="text" name="mobile_no" class="form-control" id="mobileNo" placeholder="mobile number">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="social">
            <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Facebook</a>
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-primary btn-lg active gl" role="button" aria-pressed="true">Google</a>
        </div>
        <div class="login_form_top">
            Have an account?
            <a class="bold js-switch-to-signup" href="/login" class="login">Log In</a>
        </div>
    </container>
{% endblock %}
