{% extends "base.html" %}
{% load i18n staticfiles %}
{% block head_title %}{% trans "Fullcalendar" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extrahead %}
<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
<script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="left_menu">
        <ul>
            <li>
                <label class="container">One
                  <input type="checkbox" value="sem1" onclick="loadEvents()">
                  <span class="checkmark"></span>
                </label>
            </li>
        </ul>
    </div>
    <div id="calendar" class="calendar"></div>

    <script type='text/javascript'>

    </script>
{% endblock %}
